@import url("https://fonts.googleapis.com/css?family=Lato");
.navigation {
  display: flex;
  text-align: center;
  background: #FFA000;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 5;
  position: relative; }
  .navigation a {
    color: #43015E; }
  .navigation .logo {
    flex: 1;
    height: 100%; }
    .navigation .logo a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .navigation .navigation-tabs-wrapper {
    flex: 7;
    display: flex;
    height: 100%; }
    .navigation .navigation-tabs-wrapper .active {
      border-bottom: 4px solid #43015E; }
    .navigation .navigation-tabs-wrapper .item {
      flex-basis: 150px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navigation .navigation-tabs-wrapper .item:hover {
        background: #FFC107; }
  .navigation .search-input {
    flex: 3;
    position: relative;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation .search-input input {
      font-size: 16px;
      flex: 7;
      padding: 5px 15px;
      background: #F9F9F9;
      border: none;
      border-radius: 15px 0px 0px 15px; }
      .navigation .search-input input:focus {
        outline: none; }
    .navigation .search-input i {
      color: white;
      flex: 1;
      border: 1px solid #43015E;
      padding: 5px 3px 6px 0px;
      border-radius: 0px 15px 15px 0px;
      background: #43015E;
      cursor: pointer; }
    .navigation .search-input .results-container {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      right: 0;
      text-align: initial;
      background-color: white;
      border: 1px solid black; }
      .navigation .search-input .results-container .loader {
        display: flex;
        justify-content: center; }
        .navigation .search-input .results-container .loader img {
          width: 100px;
          height: 100px; }
      .navigation .search-input .results-container .results > div {
        cursor: pointer;
        padding: 0.5em 0; }
        .navigation .search-input .results-container .results > div span {
          margin-left: 0.5em; }
        .navigation .search-input .results-container .results > div:hover {
          background-color: #FFA000; }
  .navigation .user-tab {
    flex: 3;
    display: flex;
    justify-content: space-around; }
    .navigation .user-tab .user-details {
      display: flex;
      flex-direction: column;
      text-align: right; }
      .navigation .user-tab .user-details span {
        color: #43015E;
        margin-left: 80px;
        cursor: pointer; }
    .navigation .user-tab .avatar {
      width: 40px;
      border-radius: 50%;
      height: 40px;
      overflow: hidden;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
      .navigation .user-tab .avatar img {
        height: 100%; }

.organization-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0 auto;
  width: 90%; }
  @media screen and (max-width: 480px) {
    .organization-cards {
      display: block;
      width: 60%; } }
  .organization-cards .card-wrapper {
    border-radius: 2px;
    height: 360px;
    flex-basis: 21%;
    margin-bottom: 40px;
    margin-left: 3%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all .2s ease-in-out;
    cursor: pointer; }
    .organization-cards .card-wrapper:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .organization-cards .card-wrapper .card-img {
      overflow: hidden;
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .organization-cards .card-wrapper .card-img h3 {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: white;
        text-shadow: 0px 0px 10px black; }
    .organization-cards .card-wrapper .card-details {
      font-size: 14px;
      margin-left: 10px;
      margin-top: 20px;
      height: 50%;
      position: relative; }
      .organization-cards .card-wrapper .card-details .name {
        color: #757575;
        margin-bottom: 10px; }
      .organization-cards .card-wrapper .card-details .links {
        width: 100%;
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-around; }
    @media screen and (min-width: 1600px) {
      .organization-cards .card-wrapper {
        flex-basis: 15%;
        margin-left: 4%; } }
    @media screen and (max-width: 1200px) {
      .organization-cards .card-wrapper {
        flex-basis: 29%; } }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .organization-cards .card-wrapper {
        flex-basis: 25%;
        margin-left: 6%; } }

.organizations-wrapper {
  display: flex;
  justify-content: center; }

.organizations .search-bar {
  margin-top: 20px;
  height: 60px;
  display: flex;
  align-items: center; }
  .organizations .search-bar div:nth-child(1) {
    margin-left: 20px;
    flex: 1;
    border: 2px solid #43015E;
    border-radius: 15px 0px 0px 15px; }
  .organizations .search-bar div:nth-of-type(2) {
    flex: 1;
    border: 2px solid #43015E;
    border-left: none;
    border-right: none; }
  .organizations .search-bar div:nth-child(3) {
    margin-right: 20px;
    flex: 2;
    border: 2px solid #43015E;
    border-radius: 0px 15px 15px 0px; }
    .organizations .search-bar div:nth-child(3) input {
      margin-right: 5px; }
  .organizations .search-bar .filter {
    height: 55px;
    text-align: left;
    display: flex;
    flex-direction: column; }
    .organizations .search-bar .filter label {
      font-size: 16px;
      margin: 0px 15px;
      color: #43015E; }
    .organizations .search-bar .filter input {
      padding: 5px 12px;
      border: none;
      margin: 0px 15px;
      padding-left: 0px;
      background: #F9F9F9;
      position: relative;
      top: 5px; }
      .organizations .search-bar .filter input:focus {
        outline: none; }
    .organizations .search-bar .filter input.tags-input {
      width: 100%;
      position: relative;
      top: 3px;
      margin-left: 0;
      border-bottom: none; }
  .organizations .search-bar .filter-tags {
    display: flex;
    padding-right: 10px; }
    .organizations .search-bar .filter-tags a {
      margin-left: 5px; }

.login-page {
  height: 100vh;
  background-image: url("https://image.ibb.co/iH1Nav/login_compress.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }
  .login-page .logo {
    position: absolute;
    font-weight: bold;
    color: white;
    z-index: 11;
    padding: 20px 40px; }
    .login-page .logo svg {
      fill: white; }
  .login-page .logo-purple svg {
    fill: #43015E;
    height: 4vh; }
  .login-page .text-container {
    flex: 3;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    z-index: 1; }
    .login-page .text-container h1 {
      font-size: 4em; }
    .login-page .text-container p {
      font-size: 1.4em; }
    .login-page .text-container .text-card {
      width: 60%;
      text-shadow: 0px 0px 2px black; }
  .login-page .card-container {
    flex: 2;
    display: flex;
    align-items: center;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    z-index: 1; }
    .login-page .card-container .login-card {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      border-radius: 2px;
      width: 70%;
      height: 70vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .login-page .card-container .login-card .form-group, .login-page .card-container .login-card .button-group {
        display: flex;
        width: 100%;
        justify-content: center; }
      .login-page .card-container .login-card .button-group {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .login-page .card-container .login-card .button-group input {
          background-color: #FFA000;
          height: 40px;
          border: none;
          border-radius: 12.5px;
          width: 70%;
          cursor: pointer; }
          .login-page .card-container .login-card .button-group input.new-account {
            background-color: white;
            margin-top: 10px; }
            .login-page .card-container .login-card .button-group input.new-account:hover {
              background-color: white;
              font-weight: bolder; }
          .login-page .card-container .login-card .button-group input:hover {
            background-color: #FFC107; }
          .login-page .card-container .login-card .button-group input:focus {
            outline: none; }
      .login-page .card-container .login-card .form-group {
        display: flex;
        flex-direction: column; }
        .login-page .card-container .login-card .form-group .input-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 5px 0px; }
          .login-page .card-container .login-card .form-group .input-group input {
            width: 70%;
            padding: 5px 20px;
            font-size: 1.1em;
            height: 25px;
            border-radius: 20px 20px;
            border: 1px solid #757575; }
            .login-page .card-container .login-card .form-group .input-group input:focus {
              outline: none; }
          .login-page .card-container .login-card .form-group .input-group label {
            width: 70%;
            padding: 5px; }

.visible {
  z-index: 100; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%; }
  .modal .bg-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    bottom: 0; }
  .modal .modal-card {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    bottom: 0;
    margin-bottom: 10vh; }
  .modal .formButton {
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .modal .formButton:hover {
      background: #FFC107; }
    .modal .formButton:active {
      outline: none; }
    .modal .formButton:focus {
      outline: none; }
    @media screen and (max-width: 1200px) {
      .modal .formButton {
        height: 60px;
        border-radius: 30px; } }
  .modal .fade {
    opacity: 0;
    bottom: 150%;
    transition: 0.3s ease-in-out; }
  .modal .swipe {
    bottom: 150%;
    transition: 0.3s ease-in-out; }
  .modal .modal-card-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; }
  .modal .modal-card {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    z-index: 200;
    width: 80%;
    height: 70vh;
    padding: 10px 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 2px; }
    @media screen and (max-width: 1200px) {
      .modal .modal-card {
        width: 40%;
        height: 85vh; } }
  .modal-header {
    flex: 1;
    width: 100%; }
    .modal-header h2 {
      color: #212121; }
    .modal-header p {
      color: #757575; }
  .modal .form {
    display: flex;
    width: 100%;
    flex: 8; }
    @media screen and (max-width: 1200px) {
      .modal .form {
        flex-direction: column;
        justify-content: center; } }
    .modal .form-col {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 5vh; }
    @media screen and (max-width: 1200px) {
      .modal .form .mobile-off {
        display: none; } }
    .modal .form-gruop {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .modal .form-gruop label {
        width: 70%;
        padding: 5px; }
      .modal .form-gruop input {
        width: 80%;
        padding: 5px 20px;
        font-size: 1.1em;
        height: 25px;
        border-radius: 20px 20px;
        border: 1px solid #757575; }
        @media screen and (max-width: 1200px) {
          .modal .form-gruop input {
            width: 95%; } }
        .modal .form-gruop input:focus {
          outline: none; }

.organization-container .organization-about {
  display: flex;
  margin-top: 3em; }
  .organization-container .organization-about > div {
    margin: 0 1em; }
  .organization-container .organization-about .image-container {
    width: 20%; }
    .organization-container .organization-about .image-container img {
      width: 100%; }
  .organization-container .organization-about .about-container {
    width: 40%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .organization-container .organization-about .about-container .title-wrapper {
      padding: 0.5em 1em; }
    .organization-container .organization-about .about-container .description-container {
      padding: 0.5em 1em; }
      .organization-container .organization-about .about-container .description-container .social-icons {
        display: flex;
        justify-content: center;
        font-size: 125%;
        margin-top: 2em; }
        .organization-container .organization-about .about-container .description-container .social-icons > div {
          margin-right: 1em;
          height: 2em;
          width: 2em;
          text-align: center;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center; }
          .organization-container .organization-about .about-container .description-container .social-icons > div a {
            cursor: pointer; }
          .organization-container .organization-about .about-container .description-container .social-icons > div:last-of-type {
            margin-right: 0; }
  .organization-container .organization-about .map-container {
    width: 40%;
    border: 1px solid black; }

.organization-container .projects-container {
  display: flex;
  margin-top: 2em; }
  .organization-container .projects-container .project {
    width: 33.33%;
    margin: 1em;
    background-color: #FFA000; }
    .organization-container .projects-container .project .image {
      height: 10em;
      background-size: cover;
      background-position: 50%; }
    .organization-container .projects-container .project .description {
      color: white;
      text-align: initial;
      padding: 0.5em; }

.organization-container .members-container {
  margin-top: 2em;
  text-align: initial; }
  .organization-container .members-container .members-wrapper {
    text-align: center;
    display: flex; }
    .organization-container .members-container .members-wrapper .member {
      width: 20%;
      padding: 1em; }
      .organization-container .members-container .members-wrapper .member img {
        border-radius: 50%;
        width: 100%; }

.logo svg {
  height: 20px;
  fill: #43015E;
  padding-left: 5px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

body {
  background: #F9F9F9; }

.react-tagsinput {
  padding-top: 4px;
  border: none;
  height: 25px;
  background: #F9F9F9; }
  .react-tagsinput > span {
    display: flex;
    margin-left: 10px;
    background: #F9F9F9; }
  .react-tagsinput input {
    margin-top: 0px;
    padding: 0px; }

.react-tagsinput--focused {
  border: none; }

span.react-tagsinput-tag {
  background: #A383AF;
  color: white;
  border: none;
  height: 13px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
