@import url("https://fonts.googleapis.com/css?family=Lato");
.navigation {
  display: flex;
  text-align: center;
  background: #FFA000;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px; }
  .navigation .logo {
    flex: 1; }
  .navigation .navigation-tabs-wrapper {
    flex: 7;
    display: flex;
    height: 100%; }
    .navigation .navigation-tabs-wrapper .item {
      color: white;
      flex-basis: 150px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navigation .navigation-tabs-wrapper .item:hover {
        background: #FFC107; }
  .navigation .search-input {
    flex: 3;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation .search-input input {
      font-size: 16px;
      flex: 7;
      padding: 5px 15px;
      background: #F9F9F9;
      border: none;
      border-radius: 15px 0px 0px 15px; }
      .navigation .search-input input:focus {
        outline: none; }
    .navigation .search-input i {
      flex: 1;
      color: white;
      border: 1px solid white;
      padding: 5px 3px 6px 0px;
      border-radius: 0px 15px 15px 0px;
      cursor: pointer; }
  .navigation .user-tab {
    flex: 3;
    display: flex;
    text-align: left;
    justify-content: space-around; }
    .navigation .user-tab .user-details {
      display: flex;
      flex-direction: column; }
      .navigation .user-tab .user-details span {
        margin-left: 80px;
        cursor: pointer; }
    .navigation .user-tab .avatar {
      width: 40px;
      border-radius: 50%;
      height: 40px;
      border: 1px solid black; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

body {
  background: #F9F9F9; }
