$pageBackground:       #F9F9F9;
$primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #009688;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;



// Layout Nav
$nav-height: 60px;