$pageBackground:       #F9F9F9;
$primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #009688;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$card-radious: 2px;

// Layout Nav
$nav-height: 60px;

// Form group
$form-element-height: 25px;
$form-elemt-width: 70%;

// media queries
$media-large: 1600px;
$media-medium: 1200px;
$media-small: 768px;
$media-mobile: 480px;

