@import '../variables.scss';
@import '../mixins.scss';

.login-page {
    height: 100vh;
    background-image: url("https://image.ibb.co/iH1Nav/login_compress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    .logo {
        position: absolute;
        font-weight: bold;
        color: white;
        z-index: 11;
        padding: 20px 40px;

        svg {
            fill: white;
        }

    }
    .logo-purple {
        
        svg {
            fill: $logo-violet;
            height: 4vh;
            }
        }

    .text-container {
        flex: 3;
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        z-index: 1;

        h1 {
            font-size: 4em;
        }
        
        p {
            font-size: 1.4em;
        }

        .text-card{
            width: 60%;
            text-shadow: 0px 0px 2px black;
        }

    }

    .card-container {
        flex: 2;
        display: flex;
        align-items: center;
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        z-index: 1;

        .login-card {
            @include card-shadow-hover();
            border-radius: $card-radious;
            width: 70%;
            height: 70vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;


            .form-group,.button-group {
                display: flex;
                width: 100%;
                justify-content: center;
            }

            .button-group {
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    background-color: $primary-color-dark;
                    height: 40px;
                    border: none;
                    border-radius: $form-element-height/2;
                    width: $form-elemt-width;
                    cursor: pointer;

                    &.new-account {
                        background-color: white;
                        margin-top: 10px;
                        &:hover{
                            background-color: white;
                            font-weight: bolder;
                        }
                    }

                    &:hover{
                        background-color: $primary-color;
                    }

                    &:focus{
                            outline: none;
                        }
                }
            }

            .form-group{
                display: flex;
                flex-direction: column;

                .input-group{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 5px 0px;
                    input {
                        width: $form-elemt-width;
                        padding: 5px 20px;
                        font-size: 1.1em;
                        height: $form-element-height;
                        border-radius: 20px 20px;
                        border: 1px solid $secondary-text-color;

                        &:focus{
                            outline: none;
                        }
                    }

                    label {
                        width: 70%;
                        padding: 5px;
                        display: flex;
                        justify-content: space-between;
                        overflow: hidden;

                        small {
                            color: $logo-violet;
                            opacity: 0;
                            transition: all .1s ease-in-out;
                            position: relative;
                            left: 100%;
                        }

                        .visible {
                            opacity: 1;
                            left: 0;
                        }
                    }
                }

            }
        }
    }

}