@import '../variables.scss';
@import '../mixins.scss';


.marker {

    svg {
        fill: $logo-violet;
        height: 55px;

        &:hover + div {
            visibility: visible;
            opacity: 1;
            transition: all .2s ease-in-out;
        }
    }

    .popup {
        height: 130px;
        width: 260px;
        background: white;
        @include card-shadow();
        position: relative;
        bottom: 200px;
        opacity: 0;
        z-index: 100;
        right: 120px;
        visibility: hidden;
        overflow: hidden;
        
        h3 {
            padding: 20px 10px;
        }

        p {
            padding: 0px 10px;
            
        }

        input {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: $primary-color-dark;
            height: 25px;
            border-radius: 12px;
            padding: 3px;
            border: none;
        }

    }
}