@import '../variables.scss';

.navigation {
    display: flex;
    text-align: center;
    background: $primary-color-dark;
    justify-content: center;
    align-items: center;
    color: white;
    height: $nav-height;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 5;
    position: fixed;
  left: 0;
  right: 0;
  transition: all linear 0.3s;

    a {
        color: $logo-violet;
    }

    .logo {
        flex: 1;
        height: 100%;

        a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .navigation-tabs-wrapper {
        flex: 7;
        display: flex;
        height: 100%;

        .active {
            border-bottom: 4px solid $logo-violet;
        }

        .item {
            flex-basis: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: $primary-color;
            }
        }
    }

    .search-input {
        flex: 3;
	  	position: relative;
        color: $primary-color-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
            height: 100%;

        input {
            font-size: 16px;
            flex: 7;
            padding: 5px 15px;
            background: $pageBackground;
            border: none;
            border-radius: 15px 0px 0px 15px;

            &:focus {
                outline: none;
            }
        }

        i {
            color: white;
            flex: 1;
            border: 1px solid $logo-violet;
            padding: 5px 3px 6px 0px;
            border-radius: 0px 15px 15px 0px;
            background: $logo-violet;
            cursor: pointer;
        }

	  .results-container {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		right: 0;
		text-align: initial;
		background-color: white;
		border: 1px solid black;
        

		.loader {
		  display: flex;
		  justify-content: center;

		  img {
			width: 100px;
			height: 100px;
		  }
		}

		.results {
		  a {
			> div {
			  cursor: pointer;
			  padding: 0.5em 0;

			  span {
				margin-left: 0.5em;
			  }

			  &:hover {
				background-color: $primary-color-dark;
			  }
			}
		  }
		}
	  }
    }

    .user-tab {
        flex: 3;
        display: flex;

        .user-details {
            display: flex;
            flex-direction: column;
            text-align: right;
                    height: 100%;
        align-content: center;

            span {
                color: $logo-violet;
                margin-left: 80px;
                cursor: pointer;
                white-space: nowrap
            }
        }

        .avatar {
            width: 40px;
            border-radius: 50%;
            height: 40px;
            overflow: hidden;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;

            img {
                height: 100%;
            }
        }
    }

  &.hide-nav {
	transform: translateY(-100%);
  }
}
