.navigation {
  display: flex;
  text-align: center;
  background: #FFA000;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 5;
  position: relative; }
  .navigation a {
    color: white; }
  .navigation .logo {
    flex: 1;
    height: 100%; }
    .navigation .logo a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .navigation .navigation-tabs-wrapper {
    flex: 7;
    display: flex;
    height: 100%; }
    .navigation .navigation-tabs-wrapper .active {
      border-bottom: 4px solid white; }
    .navigation .navigation-tabs-wrapper .item {
      flex-basis: 150px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navigation .navigation-tabs-wrapper .item:hover {
        background: #FFC107; }
  .navigation .search-input {
    flex: 3;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation .search-input input {
      font-size: 16px;
      flex: 7;
      padding: 5px 15px;
      background: #F9F9F9;
      border: none;
      border-radius: 15px 0px 0px 15px; }
      .navigation .search-input input:focus {
        outline: none; }
    .navigation .search-input i {
      color: white;
      flex: 1;
      border: 1px solid white;
      padding: 5px 3px 6px 0px;
      border-radius: 0px 15px 15px 0px;
      cursor: pointer; }
  .navigation .user-tab {
    flex: 3;
    display: flex;
    justify-content: space-around; }
    .navigation .user-tab .user-details {
      display: flex;
      flex-direction: column;
      text-align: right; }
      .navigation .user-tab .user-details span {
        margin-left: 80px;
        cursor: pointer; }
    .navigation .user-tab .avatar {
      width: 40px;
      border-radius: 50%;
      height: 40px;
      overflow: hidden;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
      .navigation .user-tab .avatar img {
        height: 100%; }
