@import '../variables.scss';
@import '../mixins.scss';

.modal {
    position: absolute;
    width: 100%;

    .bg-modal {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
        opacity: 0.8;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        bottom: 0;
    }

    .hide{
    opacity: 0;
    bottom: 150%;
    transition: 0.3s ease-in-out;
    }

    .modal-card-container {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        bottom: 0;
    }

    .swipe {
        bottom: 150%;
        transition: 0.3s ease-in-out;
    }

    .modal-card{
        position: absolute;
        top: 100%;
        opacity: 1;
        background: white;
        z-index: 200;
        width: 70%;
        height: 70%;
    }
    
}
