.visible {
  z-index: 100; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%; }
  .modal .bg-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    bottom: 0; }
  .modal .modal-card {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    bottom: 0;
    margin-bottom: 10vh; }
  .modal .formButton {
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .modal .formButton:hover {
      background: #FFC107; }
    .modal .formButton:active {
      outline: none; }
    .modal .formButton:focus {
      outline: none; }
    @media screen and (max-width: 1200px) {
      .modal .formButton {
        height: 60px;
        border-radius: 30px; } }
  .modal .fade {
    opacity: 0;
    bottom: 150%;
    transition: 0.3s ease-in-out; }
  .modal .swipe {
    bottom: 150%;
    transition: 0.3s ease-in-out; }
  .modal .modal-card-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; }
  .modal .modal-card {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    z-index: 200;
    width: 80%;
    height: 70vh;
    padding: 10px 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 2px; }
    @media screen and (max-width: 1200px) {
      .modal .modal-card {
        width: 40%;
        height: 85vh; } }
  .modal-header {
    flex: 1;
    width: 100%; }
    .modal-header h2 {
      color: #212121; }
    .modal-header p {
      color: #757575; }
  .modal .form {
    display: flex;
    width: 100%;
    flex: 8; }
    @media screen and (max-width: 1200px) {
      .modal .form {
        flex-direction: column;
        justify-content: center; } }
    .modal .form-col {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 5vh; }
    @media screen and (max-width: 1200px) {
      .modal .form .mobile-off {
        display: none; } }
    .modal .form-gruop {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .modal .form-gruop label {
        width: 70%;
        padding: 5px; }
      .modal .form-gruop input {
        width: 80%;
        padding: 5px 20px;
        font-size: 1.1em;
        height: 25px;
        border-radius: 20px 20px;
        border: 1px solid #757575; }
        @media screen and (max-width: 1200px) {
          .modal .form-gruop input {
            width: 95%; } }
        .modal .form-gruop input:focus {
          outline: none; }
